header{
    background-color: aqua;
    margin: auto;
    width: 100%;
    height: auto;
}

div{
 background-color: blue;
 width: 100%;
 height: auto;
}

footer{
 background-color: brown;
 width: 100%;
 height: auto;
}